<%- include("./partials/header.ejs") %>

<body>
    <script>
        $("#home").removeClass("active");
        $("#contact").removeClass("active");
        $("#about").addClass("active");
    </script>
</body>

<%- include("./partials/footer.ejs") %>